<div *ngIf="!isGameStarted; else alreadyRegistered">
  <app-player-register (playerRegistered)="playerRegistered($event)"></app-player-register>
</div>

<ng-template #alreadyRegistered>
  <div>
    <table>
      <tr>
        <th>
          Temps écoulé
        </th>
        <th>
          Réserve d'eau totale
        </th>
        <th>
          Argent disponible
        </th>
      </tr>
      <tr>
        <td>
          {{ gameElapsedTime | date: format }}
        </td>
        <td>
          {{ player.cistern.capacity }}
        </td>
        <td>
          {{ player.money }}
        </td>
      </tr>
    </table>
    <button id="buyWater" class="buyWater" (click)="buyWater()">Acheter de l'eau</button>
    <div class="row">
      <div class="column">
        <app-field name="field" (fieldIrrigated)="playerIrrigatedField($event)" (fieldHarvested)="addMoney($event)"></app-field>
      </div>
      <div class="column">
        <app-field name="field" (fieldIrrigated)="playerIrrigatedField($event)" (fieldHarvested)="addMoney($event)"></app-field>
      </div>
      <div class="column">
        <app-field name="field" (fieldIrrigated)="playerIrrigatedField($event)" (fieldHarvested)="addMoney($event)"></app-field>
      </div>
    </div>
  </div>
</ng-template>
